.posts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30em 10% 0 10%;
}

.title {
    position: absolute;
    z-index: 1;
    padding: 0.25em 2em;
}

header {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
    width: 100%;
}